<head>
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<style>
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;

}


body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {font-size: 16px;}

.margin {margin-bottom: 45px;}

</style>

</style>
</head>

<body>



<h1> </h1>

<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %> 
</div>

<div class="container-fluid bg-1 text-center">
    <h3>Who Am I?</h3>
    <%= image_tag("profile-small-square.jpg", class: "img-circle") %>
    <h3>I'm a science reporter and audio producer.</h3>
    <h3>Aside from science, I also love comics, movies, and microwave popcorn.</h3>
    
</div>


<!-- <div class="container-fluid bg-2 text-center">
  <h3>What Am I?</h3>
  <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. </p>
  <a href ="#" class = "btn btn-default btn-lg">
  	<span class ="glyphicon glyphicon-search"></span> Search</a>

</div> -->

<div class="container-fluid bg-3 text-center">
  <h3>Recent Stories</h3>
    
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("shark-fin-soup-small.jpg")%>
      <div class="caption">
        <h3><a href="https://www.npr.org/sections/thesalt/2017/11/07/561900736/shark-fin-trade-faces-troubled-waters-as-global-pressure-mounts">Shark Fin Trade Faces Troubled Waters As Global Pressure Mounts</h3></a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("ice-bridge-small.jpg")%>
      <div class="caption">
        <h3><a href="https://www.npr.org/sections/alltechconsidered/2017/10/01/553756878/winter-is-coming-what-if-roads-and-runways-could-de-ice-themselves">Winter Is Coming. What If Roads And Runways Could De-Ice Themselves?</h3></a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("cows-reinford-farms-small.jpg")%>
      <div class="caption">
        <h3><a href="https://www.npr.org/sections/thesalt/2017/04/23/524878531/waste-not-want-not-why-arent-more-farms-putting-poop-to-good-use">Waste Not, Want Not: Why Aren't More Farms Putting Poop To Good Use?</h3></a>
      </div>
    </div>
  </div>
</div>


</body>