<head>
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<style>
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;

}


body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {font-size: 16px;}

.margin {margin-bottom: 45px;}

</style>

</style>
</head>

<body>

<div class="container-fluid bg-3 text-center">
  <h3>NPR</h3>
    
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("shark-fin-soup-small.jpg")%>
      <div class="caption">
        <h3><a href="https://www.npr.org/sections/thesalt/2017/11/07/561900736/shark-fin-trade-faces-troubled-waters-as-global-pressure-mounts">Shark Fin Trade Faces Troubled Waters As Global Pressure Mounts</h3></a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("ice-bridge-small.jpg")%>
      <div class="caption">
        <h3><a href="https://www.npr.org/sections/alltechconsidered/2017/10/01/553756878/winter-is-coming-what-if-roads-and-runways-could-de-ice-themselves">Winter Is Coming. What If Roads And Runways Could De-Ice Themselves?</h3></a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("cows-reinford-farms-small.jpg")%>
      <div class="caption">
        <h3><a href="https://www.npr.org/sections/thesalt/2017/04/23/524878531/waste-not-want-not-why-arent-more-farms-putting-poop-to-good-use">Waste Not, Want Not: Why Aren't More Farms Putting Poop To Good Use?</h3></a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("overweight.brain-small.jpg")%>
      <div class="caption">
        <h3><a href="http://www.npr.org/sections/health-shots/2016/12/30/506433671/the-wrong-eating-habits-can-hurt-your-brain-not-just-your-waistline">The Wrong Eating Habits Can Hurt Your Brain, Not Just Your Waistline</h3></a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("beautiful-country-middle-kingdom-small.jpg")%>
      <div class="caption">
        <h3><a href="http://www.npr.org/sections/parallels/2016/12/11/504478025/the-u-s-and-china-two-centuries-of-infatuation-and-disappointment">The U.S. And China: Two Centuries Of Infatuation And Disappointment</h3></a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("SoftRobotHandTomato-small.jpg")%>
      <div class="caption">
        <h3><a href="http://www.npr.org/sections/alltechconsidered/2016/12/11/504953475/behold-a-robot-hand-with-a-soft-touch">Behold A Robot Hand With A Soft Touch</h3></a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("MSG-small.jpg")%>
      <div class="caption">
        <h3><a href="http://www.npr.org/sections/thesalt/2016/12/06/502172541/how-just-eight-flavors-have-defined-american-cuisine">How Just 8 Flavors Have Defined American Cuisine</h3></a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("salty-ramen-final_small_custom-bd107d39cd92483f67e6b64a4de9a8c7d468ecb7-s1600-c85_small.jpg")%>
      <div class="caption">
        <h3><a href="https://www.npr.org/sections/thesalt/2016/08/04/486960237/when-food-firms-cut-the-salt-what-do-they-put-in-instead">When Food Firms Cut The Salt, What Do They Put In Instead?</h3></a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("sharing-passwords-small.jpg")%>
      <div class="caption">
        <h3><a href="https://www.npr.org/sections/alltechconsidered/2016/07/14/485735920/how-a-nightmare-law-could-make-sharing-passwords-illegal">How A 'Nightmare' Law Could Make Sharing Passwords Illegal</h3></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("ten-years-small.jpg")%>
      <div class="caption">
        <h3><a href="https://www.npr.org/sections/parallels/2016/07/07/484778210/in-ten-years-a-dystopian-vision-of-hong-kongs-future-under-china">In 'Ten Years,' A Dystopian Vision Of Hong Kong's Future Under China</h3></a>

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("jet-lag-sleep-small.jpg")%>
      <div class="caption">
        <h3><a href="https://www.npr.org/sections/health-shots/2016/05/12/477526340/researchers-offer-jet-lag-advice-in-return-for-data-about-your-sleep">Researchers Offer Jet Lag Advice In Return For Data About Your Sleep</h3></a>

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("nurses-stress-small.jpg")%>
      <div class="caption">
        <h3><a href="https://www.npr.org/sections/health-shots/2016/04/15/474200707/nurses-say-stress-interferes-with-caring-for-their-patients">Nurses Say Stress Interferes With Caring For Their Patients</h3></a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>South China Morning Post</h3>
    
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("dse-exam-pic-small.jpg")%>
      <div class="caption">
        <h3><a href="https://www.scmp.com/lifestyle/families/article/1999591/spike-child-abuse-cases-hong-kong-coincides-exam-time-research">Spike in child abuse cases coincides with exam time</h3></a>

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("scmp-ramen-noodles-small.jpg")%>
      <div class="caption">
        <h3><a href="https://www.scmp.com/lifestyle/food-drink/article/1960513/health-conscious-hongkongers-eating-instant-noodles-less-often">Health-conscious Hongkongers eating instant noodles less often, like rest of world</h3></a>

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("scmp-sex-ed-books-small.jpg")%>
      <div class="caption">
        <h3><a href="https://www.scmp.com/lifestyle/health-beauty/article/1946761/hong-kongs-sex-education-crisis-why-people-turn-sex-workers">Hong Kong’s sex education crisis: why people turn to sex workers for knowledge</h3></a>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("chinese-hammerhead-fossil-small.jpg")%>
      <div class="caption">
        <h3><a href="https://www.scmp.com/culture/article/1941719/chinese-fossil-hammerhead-marine-reptile-so-weird-its-finders-were-blown">Chinese fossil of hammerhead marine reptile so weird its finders were ‘blown away’</h3></a>

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("marty-wong-lf2-small.jpg")%>
      <div class="caption">
        <h3><a href="https:/www.scmp.com/culture/arts-entertainment/article/1937266/hong-kong-video-game-developers-finally-making-it-big">Hard lessons for creator of Little Fighter 2 and other would-be Hong Kong games developers</h3></a>

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("hongkong-insurance-workout-small.jpg")%>
      <div class="caption">
        <h3><a href="https://www.scmp.com/lifestyle/health-beauty/article/1894391/why-two-insurance-companies-want-pay-hongkongers-work-out">Why two insurance companies want to pay Hongkongers to work out</h3></a>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Radio</h3>
    
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("black-farmers-small.jpg")%>
      <div class="caption">
      <iframe src="https://www.npr.org/player/embed/553748898/571305530" width="100%" height="290" frameborder="0" scrolling="no" title="NPR embedded audio player"></iframe>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("miyazaki-small.jpg")%>
      <div class="caption">
<!--         <h3><a href="https://www.npr.org/sections/parallels/2013/11/16/245068512/animated-film-on-the-kamikaze-plane-hits-a-nerve-in-asia">Animated Film On The 'Kamikaze Plane' Hits A Nerve In Asia</h3></a> -->
      <iframe src="https://www.npr.org/player/embed/245068512/245584037" width="100%" height="290" frameborder="0" scrolling="no" title="NPR embedded audio player"></iframe>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("sheep-and-goat-small.jpg")%>
      <div class="caption">
<!--         <h3><a href="https://www.npr.org/2013/11/26/247343969/conserving-priceless-chinese-paintings-is-an-art-all-its-own">Conserving Priceless Chinese Paintings Is An Art All Its Own</h3></a> -->
        <iframe src="https://www.npr.org/player/embed/247343969/259761883" width="100%" height="290" frameborder="0" scrolling="no" title="NPR embedded audio player"></iframe>

      </div>
    </div>
  </div>


</div>

<div class="row">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("1979-revolution-small.jpg")%>
      <div class="caption">
<!--         <h3><a href="https://www.npr.org/sections/alltechconsidered/2013/12/13/250737898/game-director-shifts-from-grand-theft-auto-to-iranian-revolution">Game Director Shifts From 'Grand Theft Auto' To Iranian Revolution</h3></a> -->
        <iframe src="https://www.npr.org/player/embed/250737898/250795967" width="100%" height="290" frameborder="0" scrolling="no" title="NPR embedded audio player"></iframe>

      </div>
    </div>
  </div>

</div>



<!--   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag("stinkbug-small.jpg")%>
      <div class="caption">
        <iframe width="100%" height="124" scrolling="no" frameborder="no" src="//embed.wbur.org/player/hereandnow/2013/12/25/stink-bug-solution"></iframe>

      </div>
    </div>
  </div> -->

<div class="embed-responsive embed-responsive-16by9">

<iframe src="https://player.vimeo.com/video/47238527" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/47238527">Angles of the Anacostia: Subsistence Fishing in a Polluted River</a> from <a href="https://vimeo.com/nprinterns">NPR Intern Edition</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

</div>

<div class="container-fluid bg-3 text-center">
  <h3>Video</h3>
    
</div>

<div class="embed-responsive embed-responsive-16by9">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/EDy4eOC2iPw" frameborder="0" allowfullscreen></iframe>
</div>

<br></br>

<div class="embed-responsive embed-responsive-16by9">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/KQ_TQGaVtNE" frameborder="0" allowfullscreen></iframe>
</div>

</body>
